*{
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blanchedalmond; */
    background-color: #f0f4f9;
    color: black;
}
.innernavbar{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.contact p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    /* padding-right: 20px; */
    border: none;
    background-color: #f0f4f9;
}
.body{
    background-color: rgb(245, 238, 191);
    height: 250vh;
    width: 100%;
}



.han g{
color: white;}